<footer class="footer">
    <div class="footer-content">
        <div class="footlinks">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="./booking.html">Register</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="footlinks">
            <h4>Connect</h4>
            <div class="social">
                <a  target="_blank"><i class='bx bxl-facebook'></i></a>
                <a  target="_blank"><i class='bx bxl-instagram'></i></a>
                <a  target="_blank"><i class='bx bxl-twitter'></i></a>
                <a  target="_blank"><i class='bx bxl-linkedin'></i></a>
                <a  target="_blank"><i class='bx bxl-github'></i></a>
            </div>
        </div>
    </div>
    
</footer>