<section class="location-section" id="locations">
    <h2>Featured Locations</h2>
    <p>Witness Yourself There!</p>
    <div class="location-grid">
        <div class="location-box">
            <img src="./files/pac2.1.jpg" alt="Thailand">
            <h4>Thailand</h4>
        </div>
        <div class="location-box">
            <img src="./files/pack2.2.jpg" alt="Goa">
            <h4>Goa</h4>
        </div>
        <div class="location-box">
            <img src="./files/pac2.3.jpg" alt="Kerala">
            <h4>Kerala</h4>
        </div>
        <div class="location-box">
            <img src="./files/pac2.4.webp" alt="Bali">
            <h4>Bali</h4>
        </div>
        <div class="location-box">
            <img src="./files/pac2.5.jpg" alt="Kashmir">
            <h4>Kashmir</h4>
        </div>
    </div>
    <div class="explore-btn">
        <button class="btn">Explore More</button>
    </div>
</section>
