@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .navbar ul {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .title h1 {
        font-size: 2.5rem;
    }

    .title p {
        font-size: 1rem;
    }

    .search-form {
        max-width: 300px;
    }

    .services,
    .package-section,
    .location-section {
        padding: 40px 20px;
    }

    .service-grid,
    .package-grid,
    .location-grid {
        grid-template-columns: 1fr;
    }
}
/* Global font style */
body {
    font-family: 'Poppins', sans-serif;
  }
  