
<section class="services">
    <h2>Our Best Services</h2>
    <div class="service-grid">
        <div class="service-box">
            <img src="./files/1a.jpg" alt="Flight Services">
            <h4>Flight Services</h4>
            <p>Arrival and Departure</p>
        </div>
        <div class="service-box">
            <img src="./files/2a.jpg" alt="Food Services">
            <h4>Food Services</h4>
            <p>Catering</p>
        </div>
        <div class="service-box">
            <img src="./files/3a.jpg" alt="Travel Services">
            <h4>Travel Services</h4>
            <p>Pick-up/Drop-off</p>
        </div>
        <div class="service-box">
            <img src="./files/4a.jpg" alt="Hotel Services">
            <h4>Hotel Services</h4>
            <p>Check-in/Check-out</p>
        </div>
    </div>
</section>
